* {
    padding: 0;
    margin: 0;
}



.container {
    width: 1057px;
    margin: 0 auto;


}

.nav-list {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 37px;

}

.logo {
    width: 140px;
    height: 40.38px;
    margin-right: 281px;



}

a {
    text-decoration: none;
    color: black;
}

.ul-list {
    width: 345px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 191px;

}

ul {
    list-style-type: none;
}



.nav-list-item {
    width: 60px;
    height: 12px;
    color: black;
    font-size: 10px;
    font-family: "Raleway";
    font-weight: 700;

}

.button1 {
    width: 130px;
    height: 40px;
    background-color: #4285F4;
    color: #FCFDFE;
    font-size: 10px;
    font-family: "Raleway";
    font-weight: 800;
    text-transform: uppercase;
    border: 0px;
    border-radius: 5px;


}



.content2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 52px;
    margin-top: 77px;
}

.main-title {
    width: 497px;
    height: 108px;
    color: black;
    font-size: 44px;
    font-family: "Rubik";
    font-weight: 700;
    line-height: 55.44px;
    margin-bottom: 12px;

}

.health {
    color: #4285F4;
}

.description {
    width: 375px;
    height: 36px;
    color: #616161;
    font-size: 11px;
    font-family: "Rubik";
    font-weight: 300;
    line-height: 16.62px;
    letter-spacing: 0.90px;
    margin-bottom: 24px;


}

.button2 {
    width: 144px;
    height: 40px;
    background-color: #EC5863;
    border: 0px;
    color: #FCFDFE;
    font-size: 10px;
    font-family: "Raleway";
    font-weight: 800;
    letter-spacing: 1.40px;
    border-radius: 5px;
}

.main-picture {}

.pic1 {
    width: 547px;
    height: 400px;

}








.title {
    display: flex;
    justify-content: center;
    padding-top: 151px;
    color: black;
    font-size: 44px;
    font-family: "Rubik";
    font-weight: 700;
    line-height: 55.44px;

}

.healthcare {
    color: #EC5863;
    font-size: 44px;
    font-family: "Rubik";
    font-weight: 700;
    line-height: 55.44px;
    margin-right: 7px;
}

.title-description {
    width: 600px;
    height: 52px;
    color: #616161;
    font-size: 12px;
    font-family: "Rubik";
    font-weight: 400;
    line-height: 16.62px;
    letter-spacing: 0.96px;
    margin-left: 349px;
    margin-bottom: 46px;

}

.card-container {
    display: flex;
    gap: 72px;
    justify-content: center;
    text-align: center;


}

.card1,
.card2,
.card3 {

    width: 278px;
    height: 276px;
    box-shadow: 1px 1px 13px rgb(216, 205, 205);

}

.font {
    width: 227px;
    height: 24px;
    font-size: 15px;
    font-family: "Rubik";
    line-height: 22.16px;
    letter-spacing: 0.50px;
    margin: 0 auto;
}

.picture1 {
    width: 64px;
    height: 73px;
    margin-top: 60px;
    margin-bottom: 20px;
}

.picture2 {
    width: 66px;
    height: 73px;
    margin-top: 60px;
    margin-bottom: 20px;
}

.picture3 {
    width: 87px;
    height: 63px;
    margin-top: 60px;
    margin-bottom: 20px;
}


.caption1 {
    width: 242px;
    height: 45px;
    color: #616161;
    font-size: 12px;
    font-family: "Rubik";
    line-height: 16px;
    margin: 0 auto;
}

.caption2 {
    width: 227px;
    height: 44px;
    color: #616161;
    font-size: 12px;
    font-family: "Rubik";
    line-height: 16px;
    margin: 0 auto;

}

.caption3 {
    width: 227px;
    height: 38px;
    color: #616161;
    font-size: 12px;
    font-family: "Rubik";
    line-height: 16px;
    margin: 0 auto;
}


.video-wrapper {
    height: 32px;

}

.video {
    width: 228px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.video-icon {
    width: 44px;
    height: 44px;


}

.video-text {
    font-size: 13px;
    color: #B0B0B0;
    margin-bottom: 5px;

}

.video-text2 {
    font-size: 9px;
    text-transform: uppercase;
}