* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 100%;
    display: flex;
}

.item1 {
    width: 576px;
    height: 573px;
    background-color: #FCFF6F;

}

.item2 {
    width: 504px;
    height: 462px;
    background-color: #FFD4D4;
    margin: 25px 47px 86px 25px;
}

.item3 {
    width: 412px;
    height: 356px;
    background-color: #A1FE2A;
    margin: 25px 67px 81px 25px;
}

.item4 {
    width: 339px;
    height: 286px;
    background-color: #FF0909;
    margin: 28px 45px 42px 28px;



}

.item5 {
    width: 270px;
    height: 245px;
    background-color: #00FFF0;
    margin: 21px 48px 20px 21px;
}


.item6 {
    width: 73px;
    height: 207px;
    background-color: black;

}