* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 100%;
    display: flex;
}

.item1 {
    width: 576px;
    height: 573px;
    background-color: #FCFF6F;

}

.item2 {
    width: 504px;
    height: 462px;
    background-color: #FFD4D4;
    position: relative;
    top: 25px;
    left: 25px;
    bottom: 86px;
    right: 47px;
}

.item3 {
    width: 412px;
    height: 356px;
    background-color: #A1FE2A;
    position: relative;
    top: 25px;
    right: 67px;
    bottom: 81px;
    left: 25px;
    
}

.item4 {
    width: 339px;
    height: 286px;
    background-color: #FF0909;
    position: relative;
    top: 28px;
    right: 45px;
    bottom: 42px;
    left: 28px;
}

.item5 {
    width: 270px;
    height: 245px;
    background-color: #00FFF0;
    position: relative;
    top: 21px;
    right: 27px;
    bottom: 20px;
    left: 27px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.item6 {
    width: 73px;
    height: 207px;
    background-color: black;

}

.item7 {
    width: 73px;
    height: 207px;
    background-color: black;

}