* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.header1 {
    color: rgb(194, 83, 83);
    text-align: center;
}

.header2 {
    color: black;
    text-align: center;
}

.container2 {
    width: 900px;
    height: 240px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}


.container3 {
    width: 900px;
    height: 250px;
    /* display: flex;
    justify-content: space-between;
    gap: 20px; */
}

#fw900 {
    font-weight: 100;
}

.fw100 {
    font-weight: 100;
}

.container4 {
    width: 500px;
    height: 500px;
    margin-top: 100px;
}

.item {
    width: 300px;
    height: 130px;
    background-color: rgb(236, 231, 231);
}

.nav-list-item {
    width: 200px;
    height: 200px;
    margin-bottom: 100px;
}