.container {
    width: 400px;
    height: 300px;
    background-color: khaki;
    border: 1px solid #000;
}

.wrapper {
    /* display: flex; */
    padding: 35px;

}

.container2 {
    margin: 7px;
    width: 250px;
    height: 200px;
    background-color: rgb(221, 217, 217);
    border: 5px solid #c22020;
}

.item1 {
    margin-left: 80px;
    margin-top: 40px;
    padding: 10px;
    /* align-items: center; */
    width: 110px;
    height: 100px;
    background-color: darkgray;
    border: 4px solid #000;
}