* {
    padding: 0;
    margin: 0;

}

.container {
    width: 327px;

}


.nav-list {
    width: 100%;
    height: 40px;
    background-color: #F38080;
    display: flex;
    align-items: center;

}

.ul-list {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 109px;
    gap: 7px;
}

ul {

    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.nav-list-item {
    width: 32px;
    color: black;
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'Khula';
}

.cats {
    width: 233px;
    height: 138px;
    margin-top: 20px;
    margin-left: 47px;
    margin-right: 47px;
    margin-bottom: 25px;
}

.caption {}

.aboutcats {
    width: 228px;
    height: 91px;
    color: #636363;
    font-size: 8px;
    font-family: "Khula";
    margin-left: 47px;
    margin-right: 47px;
    margin-bottom: 25px;
}

.buttons {
    display: flex;
    gap: 150px;
    margin-left: 47px;
}

#hide {
    width: 41px;
    height: 10px;
    background-color: #F38080;
    border: 0px solid #000;
    color: white;
    font-size: 4px;
    font-family: "Khula";
    text-transform: uppercase;
}

#show{
    width: 41px;
    height: 10px;
    background-color: #F38080;
    border: 0px solid #000;
    color: white;
    font-size: 4px;
    font-family: "Khula";
    text-transform: uppercase;
}