.container{
    width: 500px;
    height: 500px;
    border: 1px solid #000;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.item{
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    background-color: aqua;
    opacity: 1;
    color:blue;

}

.opacity{
    display: none;
    opacity: 1;
}